CONFIG_ARCH_SOPHGO=y
CONFIG_ARCH_BM1684=y
CONFIG_ARM64_ERRATUM_843419=n
CONFIG_BLK_DEV_INITRD=y
CONFIG_COMPAT=y
CONFIG_CRASH_DUMP=y
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_FHANDLE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_KEXEC=y
CONFIG_LOCALVERSION="-bm1686"
CONFIG_MAGIC_SYSRQ=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_PRINTK_TIME=y
CONFIG_SMP=y
CONFIG_STRICT_DEVMEM=n
CONFIG_TMPFS=y
CONFIG_TRANSPARENT_HUGEPAGE=y

# above are necessary configs for a minimal kernel
# please add other configs down here by function group

# debug
CONFIG_GENERIC_IRQ_DEBUGFS=y

# basic network
CONFIG_NET=y
CONFIG_INET=y
CONFIG_PACKET=y
CONFIG_PACKET_DIAG=y
CONFIG_UNIX=y
CONFIG_NETDEVICES=y
CONFIG_NET_SCHED=y
CONFIG_FIXED_PHY=y
CONFIG_MARVELL_PHY=y
CONFIG_BROADCOM_PHY=y

# NFS boot
CONFIG_IP_PNP=y
CONFIG_NFS_FS=y
CONFIG_ROOT_NFS=y
